* {
    margin: 0;
    padding: 0;
}

/************* Hero section ***************/
.hero {
    background: #1F2937;    
    width: 100%;      
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 30px;
    margin-bottom: 130px;
}

.left {
    color: #F9FAF8;
    font-size: 35px;
}

.right {  
    width: 525px;
    font-size: 20px;     
}

.right
li
a {
    color: #E5E7EB;        
    display: flex;
    text-decoration: none; 
    margin-right: -30px;      
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style-type: none;
}
/*********************hero header section*******************/
.section_header {
    display: flex;    
    align-items: center;
    padding-bottom: 130px;   
}

.header_left {
    width: 40%;    
    margin-left: 100px;  
}

.h1_text {
    color: #F9FAF8;
    font-size: 59px;
    text-align: left;
}

.secondary_text {
    color: #E5E7EB;
    font-size: 28px;
    text-align: left;
}

.header_button {
    background: #3882f6;
    color: #F9FAF8;
    width: 150px;
    height: 45px;
    border-radius: 8px;
    font-size: 18px;
    border-color: #3882f6;
}

.header_right {   
    background: grey;
    width: 550px;  
    height: 300px;
    margin: 0 auto; 
    margin-right: 100px;
    
}

.header_right_text {
    text-align: center;
    margin-top: 135px;
    color: #F9FAF8;
    font-size: 21px;
}
/*********************section 2*******************/
.container_2 {
    background: #F9FAF8;
}

.title {
    text-align: center;
    color: #1F2937;
    font-size: 40px;
    padding-top: 40px;
    margin-bottom: 50px;
}

.square {
    border: 5px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 10px;    
}

.column {
    display: flex;
    flex-direction: column;   
    width: 160px;
    height: 240px;
}

.squares {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 55px;
    padding-bottom: 100px;
}

p {
    color: gray;
    text-align: center;
    font-size: 18px;
    padding-top: 5px;
}
/*********************section 3*******************/
.container_3 {
    background: #E5E7EB;
    height: 500px;
}

.testimonial {
    color: #1F2937;    
    width: 800px;
    height: 400px;    
    display: block;
    margin: 0 auto;
    padding-top: 150px;
}

.testimonial_text {
    color: #1F2937;
    font-size: 38px;
    text-align: left;
    margin-left: 20px;
}

.strong {
    color: #1F2937;
    font-size: 25px;
    text-align: right;
    margin-right: 10px;
}
/*********************section 4*******************/
.container_4 {
    background: #F9FAF8;
    height: 300px;  
    padding-top: 150px;
}

.blue_box {
    background: #3882f6;
    width: 1000px;
    height: 150px;   
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.button_blue_box {
    background: #3882f6;
    color: #F9FAF8;
    width: 150px;
    height: 45px;
    border-radius: 8px;
    font-size: 18px;
    border-color: #F9FAF8;
    border: 3px solid ;
}

.blue_box_h2 {
    color: #F9FAF8;
}

.secondary_text_blue_box {
    color: #E5E7EB;
}
.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
}

.wrap_inside {
    display: block;
    flex-direction: column;
}
/*********************Footer*******************/
.footer {
    background: #1F2937;    
    height: 100px;
}

.footer_text {
    color: #F9FAF8;
    padding-top: 40px;
}
